<div class="d-flex justify-content-center" style="background-color: #8a8a8a">
    <div>
        <img src="/images/owner-profile-placeholder.jpg" alt="Card image cap" class="profile-placeholder-img mb-5">
    </div>
    <div class="col-md-5 border-right text-left">
        <div class="p-3 py-5">
            <div class="align-items-center mb-3">
                <h4 class="top-buffer profile-title">{{owner.firstName}} {{owner.lastName}}</h4>
            </div>
            <div class="row mt-2">
                <p class="text-answers"><span class="text-span">Age </span> {{owner.age}}</p>
                <p class="text-answers"><span class="text-span">Contact Number </span> {{owner.phoneNumber}}</p>
                <div>
                    <p class="text-answers"><span class="text-span">Home Address </span>{{owner.homeAddress}}</p>
                </div>
            </div>
            <div>
                <p class="text-span">Pet/s:</p>
                    {{#each owner.pets}}
                <p><span class="text-answers">{{this.firstName}}</span></p>
                {{/each}}
            </div>
            <p id="owner-id" class="hidden">{{owner.id}}</p>
        </div>
    </div>