<div class="d-flex justify-content-center" style="background-color: #ffffff">
    <div>
        <img src="/images/owner-profile-placeholder.jpg" alt="Card image cap" class="profile-placeholder-img mb-5">
    </div>
    <div class="col-md-5 border-right text-left">
        <div class="p-3 py-5">
            <div class="align-items-center mb-3">
                <h4 class="top-buffer profile-title">{{owner.firstName}} {{owner.lastName}}</h4>
            </div>
            <div class="row mt-2">
                <p class="text-answers"><span class="text-span">ID Number: </span> {{owner.id}}</p>
                <p class="text-answers"><span class="text-span">Age: </span> {{owner.age}}</p>
                <p class="text-answers"><span class="text-span">Contact Number: </span> {{owner.phoneNumber}}</p>
                <div>
                    <p class="text-answers"><span class="text-span">Home Address: </span>{{owner.homeAddress}}</p>
                </div>
            </div>
            <div>
                <p class="text-span">Pet/s:</p>
                {{#each owner.pets}}
                <p><span class="text-answers">{{this.firstName}}</span></p>
                {{/each}}
            </div>
            <p id="owner-id" class="hidden">{{owner.id}}</p>

            <div>
                <button id="delete-owner-button" type="button" class="p-2">Delete Owner Profile</button>
                <button id="update-owner-button" type="button" class="p-2">Update Owner Profile</button>
            </div>
        </div>
    </div>
</div>

<div class="col d-flex justify-content-center mt-3">
<div class="add-newowner-card d-none" style="width: 18rem;">
        <div id="card-text-body" class="owner-card-body">
                <form id="update-user-form">
                        <h4 class="card-title text-center mb-2">Update Owner Form</h4>
                        <label for='owner_firstname'>First Name:</label>
                        <textarea class="form-input" id='firstName' name='firstName' rows='2' cols='30'>{{firstName}}</textarea>
                        <br />
                        <label for='owner_lastname'>Last Name:</label>
                        <textarea class="form-input" id='lastName' name='lastName' rows='2' cols='30'>{{lastName}}</textarea>
                        <br />
                        <label for='age'>Age:</label>
                        <textarea class="form-input" id='age' name='age' rows='2' cols='30'>{{age}}</textarea>
                        <br />
                        <label for='phoneNumber'>Phone Number:</label>
                        <textarea class="form-input" id='phoneNumber' name='phoneNumber' rows='2' cols='30'>{{phoneNumber}}</textarea>
                        <br />
                        <label for='homeAddress'>Home Address:</label>
                        <textarea class="form-input" id='homeAddress' name='homeAddress' rows='2' cols='30'>{{homeAddress}}</textarea>
                        <br />
                        <div class="row">
                                <div class="col text-center">
                                        <button class="form-submit-btn" type='submit' value='Submit' class="p-2">Submit</button>
                                </div>
                        </div>
                </form>
        </div>
</div>
</div>


<script src="/js/ownerprofile.js"></script>