{{#each pets as |pet| }}
{{> petcard pet}}
{{/each}}

<div class="row mt-4">
        <div class="col text-center">
                <button id="create-pet-button" type="button" class="p-2">Create Pet Profile</button>
        </div>
</div>

<div class="col d-flex justify-content-center mt-3">
        <div class="add-newpet-card d-none" style="">
                <div id="card-text-body" class="owner-card-body ">
                        <form id="add-pet-form">
                                <h4 class="card-title text-center mb-2">New Pet Form</h4>

                                <label for='pet_firstname'>First Name:</label>
                                <textarea class="form-input" id='firstName' name='firstName' rows='2'
                                        cols='30'>{{firstName}}</textarea>
                                <br />
                                <label for='pet_lastname'>Last Name:</label>
                                <textarea class="form-input" id='lastName' name='lastName' rows='2'
                                        cols='30'>{{lastName}}</textarea>
                                <br />
                                <label for='age'>Age:</label>
                                <textarea class="form-input" id='age' name='age' rows='2' cols='30'>{{age}}</textarea>
                                <br />
                                <label for='species'>Species:</label>
                                <textarea class="form-input" id='species' name='species' rows='2'
                                        cols='30'>{{species}}</textarea>
                                <br />
                                <label for='weight'>Weight:</label>
                                <textarea class="form-input" id='weight' name='weight' rows='2'
                                        cols='30'>{{weight}}</textarea>
                                <br />
                                <input type='checkbox' id='neutered' name='neutered' />
                                <label for='neutered'>Check box if pet is neutered.</label>
                                <br />
                                <input type='checkbox' id='vaccination' name='vaccination' />
                                <label for='vaccination'>Check box if pet needs vaccinations.</label>
                                <br />
                                <label for='pet_ownerid'>Owner ID:</label>
                                <textarea class="form-input" id='pet_ownerid' name='pet_ownerid' rows='2'
                                        cols='30'>{{owner_id}}</textarea>
                                <br />
                                <div class="row">
                                        <div class="col text-center">
                                                <button class="form-submit-btn" type='submit' value='Submit'
                                                        class="p-2">Submit</button>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>


<script src="/js/petdashboard.js"></script>