<div class="d-flex justify-content-center" style="background-color: #8a8a8a">
    <div>
        <img src="/images/pet-placeholder.jpg" alt="Card image cap" class="profile-placeholder-img mb-5">
    </div>
    <div class="col-md-5 border-right text-left">
        <div class="p-3 py-5">
            <div class="align-items-center mb-3">
                <h4 class="top-buffer profile-title">{{pet.firstName}} {{pet.lastName}}</h4>
            </div>
            <div class="row mt-2">
                <p class="text-answers"><span class="text-span">Age </span> {{pet.age}}</p>
                <p class="text-answers"><span class="text-span">Species </span> {{pet.species}}</p>
                <p class="text-answers"><span class="text-span">Weight </span>{{pet.weight}} lbs</p>
                <p class="text-answers"><span class="text-span">Neutered? </span>{{pet.neutered}}</p>
                <p class="text-answers"><span class="text-span">Vaccination needed? </span>{{pet.vaccinationNeeded}}</p>
                <p class="text-span">Owner <span class="text-answers">{{pet.owner.firstName}} {{pet.owner.lastName}}
                        </pet></span></p>
                <p id="pet-id" class="hidden">{{pet.id}}</p>

                <div>
                <button id="delete-pet-button" type="button" class="p-2">Delete Pet Profile</button>
                <button id="update-pet-button" type="button" class="p-2">Update Pet Profile</button>
                </div>
                
            </div>
        </div>
    </div>
</div>


<script src="/js/petprofile.js"></script>