<div class="d-flex justify-content-center" style="background-color: #ffffff">
        <div>
                <img src="/images/pet-placeholder.jpg" alt="Card image cap" class="profile-placeholder-img mb-5">
        </div>
        <div class="col-md-5 border-right text-left">
                <div class="p-3 py-5">
                        <div class="align-items-center mb-3">
                                <h4 class="top-buffer profile-title">{{pet.firstName}} {{pet.lastName}}</h4>
                        </div>
                        <div class="row mt-2">
                                <p class="text-answers"><span class="text-span">Age: </span> {{pet.age}}</p>
                                <p class="text-answers"><span class="text-span">Species: </span> {{pet.species}}</p>
                                <p class="text-answers"><span class="text-span">Weight: </span>{{pet.weight}} lbs</p>
                                <p class="text-answers"><span class="text-span">Neutered? </span>{{pet.neutered}}</p>
                                <p class="text-answers"><span class="text-span">Vaccination Needed?
                                        </span>{{pet.vaccinationNeeded}}</p>
                                <p class="text-span">Owner <span class="text-answers">{{pet.owner.firstName}}
                                                {{pet.owner.lastName}}
                                                </pet></span></p>
                                <p id="pet-id" class="hidden">{{pet.id}}</p>

                                <div>
                                        <button id="delete-pet-button" type="button" class="p-2">Delete Pet
                                                Profile</button>
                                        <button id="update-pet-button" type="button" class="p-2">Update Pet
                                                Profile</button>
                                </div>

                        </div>
                </div>
        </div>
</div>

<div class="col d-flex justify-content-center mt-3">
        <div class="add-newpet-card d-none" style="width: 18rem;">
                <div id="card-text-body" class="owner-card-body ">
                        <form id="update-pet-form">
                                <h4 class="card-title text-center mb-2">Update Pet Form</h4>

                                <label for='pet_firstname'>First Name:</label>
                                <textarea class="form-input" id='firstName' name='firstName' rows='2'
                                        cols='30'>{{firstName}}</textarea>
                                <br />
                                <label for='pet_lastname'>Last Name:</label>
                                <textarea class="form-input" id='lastName' name='lastName' rows='2'
                                        cols='30'>{{lastName}}</textarea>
                                <br />
                                <label for='age'>Age:</label>
                                <textarea class="form-input" id='age' name='age' rows='2' cols='30'>{{age}}</textarea>
                                <br />
                                <label for='species'>Species:</label>
                                <textarea class="form-input" id='species' name='species' rows='2'
                                        cols='30'>{{species}}</textarea>
                                <br />
                                <label for='weight'>Weight:</label>
                                <textarea class="form-input" id='weight' name='weight' rows='2'
                                        cols='30'>{{weight}}</textarea>
                                <br />
                                <input type='checkbox' id='neutered' name='neutered' />
                                <label for='neutered'>Check box if pet is neutered.</label>
                                <br />
                                <input type='checkbox' id='vaccination' name='vaccination' />
                                <label for='vaccination'>Check box if pet needs vaccinations.</label>
                                <br />
                                <label for='pet_ownerid'>Owner ID:</label>
                                <textarea class="form-input" id='pet_ownerid' name='pet_ownerid' rows='2'
                                        cols='30'>{{owner_id}}</textarea>
                                <br />
                                <div class="row">
                                        <div class="col text-center">
                                                <button class="form-submit-btn" type='submit' value='Submit'
                                                        class="p-2">Submit</button>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>


<script src="/js/petprofile.js"></script>